name: Generate OG Automatically

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install node-fetch
        run: npm install node-fetch@2

      - name: Generate OG files
        run: node tools/generate-og.js

      - name: Commit OG files
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          git add og
          git commit -m "Update OG files" || echo "No changes"
          git push
